.benefit {
        margin-top:60px;
        margin-bottom: 60px;
        @media screen and (min-width:1200px){
            margin-top:94px;
            margin-bottom:94px;
        }
    &__list {
        display: flex;
        flex-wrap:wrap;
        align-content:center;
        justify-content: space-between;
        gap:30px;
    }

    &__item {
        // width: 100%;
       
        @media screen and (min-width:768px){
            width:calc((100% - 30px)/2);
        }
        @media screen and (min-width:1200px){
            flex-wrap:nowrap;
            width:calc((100% - 3*30px)/4);
        }
    }

    &__bgc {
        display: flex;
        justify-content: center;
	    align-items: center;
	    background-color: $bgc-grey;
        padding-top:25px;
        padding-bottom:25px;
        border-radius: 4px;
        margin-bottom:30px;
    }
    &__img {
        height: 70px;
	    width: 70px;
    }

    &__title {
	
    margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: $titel-text;
    }
    &__text {
        line-height: 1.71;
    }
}