.header {
        border-bottom: 1px solid $border-color;
        &__wrapper {
            position:relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
        @media screen and (min-width:768px){
            justify-content: space-between;
            align-items: center;
            }
        }
}
.menu-container {
    @media screen and (min-width:768px){
        display:none;
    }
}

@import '../components/site-nav';



.contact {
    display:none;
    @media  screen and (min-width:768px) {
        display: block;
        
    }
    @media screen and (min-width:1200px){
            display: flex;
            align-items: center;
            gap: 30px;
            margin-left:315px;
    }
    &__item {
        &:not(:last-child){
            @media screen and (min-width:768px) and (max-width:1199px) {
                margin-bottom:10px;
            }
            
        }
    }
    &__link {
        display: inline-flex;
        align-items: center;
        color: $basic-text;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: 0.02em;
        transition-property: color;
	    transition-duration: 250ms;
	    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus {
            color:$logo-text;
        }
        
    }
    
    &__ico {
        width:14px;
        height:14px;
        fill:currentColor;
        margin-right: 10px;
        
        @media screen and (min-width:1200px){
            width:16px;
            height:16px;
        }
        
    }
}
.contact__link--active:focus>.contact__ico,
.contact__link--active:hover>.contact__ico {
    fill:$ico-blue;
}