.portfolio {
        

    &__btn-list {
        display: flex;
        flex-wrap:wrap;
        justify-content:start;
        column-gap: 8px;
        row-gap:15px;
        @media screen and (min-width:768px){
          justify-content: center;  
        //   margin-bottom:30px;
        }
        @media screen and (min-width:1200px){
            margin-bottom:50px;
          }
          
    }
    &__btn {
        padding: 6px 25px;
        color: $titel-text;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        background-color: $bgc-grey;
        transition-property: color, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:focus, &:hover{
        background-color: $ico-blue;
	    color: $title-white;
	    box-shadow:
            0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
    
}

// Project card
.project {
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 30px;
        row-gap: 30px;
    }
    &__item {
        display: flex;
        border: 1px solid #eeeeee;
        width: 100%;
        @media screen and (min-width:768px){
            width:calc((100% - 30px)/2);
        }
        @media screen and (min-width:1200px){
            width:calc((100% - 2 * 30px)/3);
        }
    }
    &__link {
        width: 100%;
        height: 100%;
        border-bottom: 1px solid $border-color;
        border-right: 1px solid $border-color;
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
		                0px 4px 4px rgba(0, 0, 0, 0.06),
		                1px 4px 6px rgba(0, 0, 0, 0.16);
	

}
        
    }
    &__wrap-details{
        position: relative;
        top:0;
        left: 0;
        overflow: hidden;
    }
    &__details {
        position: absolute;
        top:0;
        left:0;
        height: 100%;
        padding: 63px 24px;
        background-color: $bgc-project-desc;
        color: $title-white;
        font-size: 18px;
        line-height: 1.55;
        transform: translateY(100%);
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
        &__link:hover &__details,
        &__link:focus &__details {
        transform: translateY(0);
    }

    &__desc {
        padding: 20px 24px;
        
    }
   
    &__subtitle {
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: $titel-text;
    }
    &__text {
        color: $basic-text;
        font-size: 16px;
        line-height: 1.87;
    }

}


