.logo {
	display: block;
	font-family: "Raleway", "Metrisch", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	color:$logo-text;

	&__header {
		
		@media screen and (min-width:480px){
			margin-top:16px;
			margin-bottom:16px;
		}
		@media screen and (min-width:1200px){
			margin-right: 93px;
		}
	}
	
    &__text--header {
        color: $logo-black;
    }

	&__footer {
		margin-bottom:20px;
	}
	&__text--footer {
		color:$logo-white;
	}
}