.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	transition: opacity 500ms, visibility 0s;
    overflow-y: scroll;
}
.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity 500ms, visibility 0s 500ms;	
}
.no-scrol {
	overflow: hidden;
}

.modal {
	position:absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	padding: 40px;
	background-color: $bgc-white;
	border-radius: 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	transform: translate(-50%, -50%) scale(1);
	transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width:480px){
        width: 450px;
	    height: 609px;
    }
    @media screen and (min-width:1200px){
        width: 528px;
	    height: 581px;
    }
    &__titel {
        display: block;
        text-align: center;
        margin-bottom:12px;
        color: $titel-text;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.15;
        letter-spacing: 0.03em;
    }

    &__close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        position: absolute;
        top:8px;
        right: 8px;
        width: 30px;
        height: 30px;
        background-color: $bgc-white;

        &-img {
            width: 11px;
	        height: 11px;
        }
        &:focus &-img, &:hover &-img {
            fill:$ico-blue;
        }

    }
    &__form {
        display: flex;
	    flex-direction: column;
	    justify-content: center;

        &-wrapper {
            display: flex;
	        flex-direction: column;
	        margin-bottom:20px;
        }

        &-field{
            position: relative;
            display: flex;
            flex-direction: column;
            margin-bottom:10px;

            &:last-child {
                margin-bottom:0;
            }
        }

    }
    &__field {
        &-titel {
            margin-bottom: 4px;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
        }
        &-input {
            position:relative;
            border: 0;
            height: 40px;
            padding-left: 42px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            outline: none;
    
            &focus{
                border-color:$ico-bgc-blue;
            }
        }
        &-ico {
            position: absolute;
            height: 18px;
            width: 18px;
            left: 12px;
            top: 50%;
            fill:$titel-text;
        }
        &-comment {
            height: 120px;
            resize: none;
            padding: 16px 12px;
        }
    }
    
    &__field-input:focus + &__field-ico {
        fill:$ico-blue;
    }

    &__btn {
        margin: 0 auto;
	    min-width: 200px;
	    min-height: 50px;

        &:hover, &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
    }
}
.policy {
    display: flex;
	margin-bottom:30px;
	text-align: center;
	margin-left: 12px;
    font-size: 12px;
    @media screen and (min-width:1200px){
        font-size: 14px;
    }
   
    &__checkbox {
        appearance: none;
	    position: absolute;
    }
    &__link{
        text-decoration:underline;
        color:$logo-text;
        margin-left: 5px;
    }
    &__check-ico {
        display: block;
        width: 16px;
        height: 15px;
        border: 2px solid $second-text;
        border-radius: 2px;
        margin-right: 8px;
        fill: $title-white;
        background-origin: border-box;
        transition: bacground 250ms cubic-bezier(0.075, 0.82, 0.165, 1), 
                    border-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
        @media screen and (min-width:1200px){

        }
    }
    &__checkbox:checked+&__check-ico {
        background:$ico-blue;
        border-color:$ico-blue;
    }
    
}   


