.subscription {
	display: block;
	width: 100%;
	
	@media screen and (max-width:1199px){
		text-align: center;
	}
	@media screen and (min-width:768px){
		width: 450px;
	}
	@media screen and (min-width:1200px){
		width: 574px;
		margin-left:93px;
	}
	
	
}	
.subscribe__text {
	margin-bottom: 20px;
}

.subscription__input {
	width: 100%;
	height: 50px;
	color: $title-white;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	padding-left: 16px;
	padding-right: 0;
	outline: none;
	box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.15));
	margin-bottom:20px;
	
	@media screen and (min-width:1200px){
		width: 358px;
	}
}

.subscribe__btn {
	display: inline-flex;
	justify-content:center;
	align-items: center;
	min-height: 50px;
	min-width: 200px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	@media screen and (min-width:1200px){
		margin-left:12px;
	}
	
	&:hover, &:focus {
		color: $btn-text-active;
        background-color: $button-color-active;
	}

	&-ico {
		width: 24px;
		height: 24px;
		margin-left:12px;
		fill: $ico-white;
	}

	&:hover &-ico, &:focus &-ico {
		fill:$ico-blue;
	}
}