// text color
$basic-text:#757575;
$second-text:#212121;
$title-white:#FFFFFF;
$titel-text:#212121;
$logo-text:#2196F3;
$logo-white:#FFFFFF;
$logo-black:#000000;
$contact-color:#757575;
$contact-opaciti-color: rgba(255, 255, 255, 0.6);


// Buttons colors
$button-color:#2196F3;
$button-color-active:#FFFFFF;
$btn-text:#FFFFFF;
$btn-text-active:#2196F3;

// Background color
$bgc-white:#FFFFFF;
$bgc-grey:#F5F4FA;
$bgc-footer:#2F303A;
$bgc-dark: rgba(47, 48, 58, 0.4);
$bgc-project-desc:rgba(33, 150, 243, 0.9);

// Icon SVG fill
$ico-white:#FFFFFF;
$ico-gray:#AFB1B8;
$ico-blue: #2196F3;
$ico-bgc-white:#FFFFFF;
$ico-bgc-blue:#2196F3;
$client-color:#AFB1B8;


// Section Colors
$border-color: #ececec;